<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-img src="../../assets/photos/panorama.jpg"></ion-img>
    <h1>Home</h1>
    <p>Première application avec Tabs et SideMenu qui gère une liste de photo</p>
    <p>Mes photos en favoris</p>


    
        <div class="photo">
            <img width="50%" [src]="valeur" />
        </div>


</ion-content>
