<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Détails</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img width="100%" [src]="photoDetails.url" />
        <ion-card-header>
            <ion-card-subtitle>{{ photoDetails.auteur }}</ion-card-subtitle>
            <ion-card-title>{{ photoDetails.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ photoDetails.description }}</ion-card-content>
    </ion-card>

    <ion-button expand="full" routerLink="/tabs/tab2">Retour à la liste</ion-button>

    <ion-button expand="full" color="danger" shape="round" (click)="mettreFav()">Mettre en Favoris <ion-icon name="heart"></ion-icon></ion-button>
    
    <ion-button expand="full" color="secondary" shape="round" (click)="supprFav()">Supprimer des Favoris <ion-icon name="heart"></ion-icon></ion-button>

</ion-content>
